<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/36be16582a.js" crossorigin="anonymous"></script>
        <title>Reksadana Data</title>
    </head>
    <body>
        <div class="container">
            <h1>Portfolio Reksadana {{username}}</h1>
            <a href="{% url 'users' %}">
                <button type="button" class="btn btn-warning">
                    <i class="fa-solid fa-arrow-left"></i> Back
                </button>
            </a>
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'buyReksaDana' username %}">
                        <button type="button" class="btn btn-primary">
                            <i class="fa-solid fa-cart-shopping"></i> Buy Reksadana
                        </button>
                    </a>
                    {% if reksaDana %}
                        <div class="table-responsive">
                            <table border="1" class="table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Unit Price</th>
                                        <th>Unit Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rd in reksaDana %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ rd.name }}</td>
                                            <td>{{ rd.unitPrice }}</td>
                                            <td>{{ rd.unitNumber }}</td>
                                            <td>
                                                <a href="{% url 'sellReksaDana' username rd.id %}">
                                                    <button type="button" class="btn btn-danger">
                                                        <i class="fa-solid fa-book-skull"></i> Sell
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No Portfolio Data</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
